<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
        <nav>
            <%- include('partials/navBarLoged')%>
        </nav>
        <h2 class="centrado">INICIO DEL SITIO</h2>
    
            <section class="primerasection" >
                
                    <% for(let i=0; i<libro.length; i++){ %>
                        <article class="segundaSectionInicio" >
                        <h3 class=tituoloLibro >
                            
                        </h3>
                        <a href="/productos/detalle/<%= libro[i].id %> ">
                            <img class="imagen"  src="/images/products/<%=libro[i].img%>">
                        </a>
                        <h4> SUBIDO : <%= libro[i].created_at %> 
                        </h4>
                    </article>
                        <%}%>
                
            </section>
        <div class="centrado">
            <%- include('partials/footer')%>
         </div>
    </body>

</html>