<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
        <nav>
            <%- include('partials/navBarLoged') %>
        </nav>

        <h2>¿Qué producto te gustaría ver hoy <%= usuario.name %>?</h2>

        <h3>Tus contactos leyeron recientemte..</h3>

        <section class="primerasection" >
            
            <% for(let i=0; i<6; i+=2){ %>
                <article class="segundaSection">
                <h4 class=tituoloLibro >
                    <%= titulo[i].title %>
                </h4>
                <h4> Género: <%= descripcion[i].description %> </h4>
                <img class="imagen" src="<%= img[i].image %> " alt="">
                <h4>Lanzamiento: <%= lanzamiento[i].upload %>
                </h4>
                <h4> <%= comentador[i].user%> comento:  <%= comentario[i].comment %></h4>
            </article>
                <%}%>
                
            </section>

            <h3>Aún no leiste</h3>

            <section class="primerasection" >
                    
                <% for(let i=1; i<10; i+=3){ %>
                    <article class="segundaSection" >
                    <h4 class=tituoloLibro >
                        <%= titulo[i].title %>
                    </h4>
                    <h4> Género: <%= descripcion[i].description %> </h4>
                    <img class="imagen" src="<%= img[i].image %> " alt="">
                    <h4>Lanzamiento: <%= lanzamiento[i].upload %>
                    </h4>
                    <h4><%= comentador[i].user%> comento: <%= comentario[i].comment %>  </h4>
                </article>
                    <%}%>
            
        </section>

        <div class="centrado">
            <%- include('partials/footer')%>
        </div>

    </body>

</html>