<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
        <nav>
        <%- include('partials/navBarLoged') %> 
        </nav>

        <h2>Que producto te gustaria ver hoy <%= usuario.name %>
        </h2>

        <section >
            <% for(let i=0; i<10; i+=2){ %>
                <article>
                    <h3>
                        <%= titulo[i].title %>
                    </h3>
                    <img class="imagen"  src="<%= img[i].image %> " alt="">
                    <h4>Lanzamiento: <%= lanzamiento[i].upload %>
                    </h4>
                    <h4>Genero: <%= descripcion[i].description %>
                    </h4>
                    <p>Tu contacto <%= comentador[i].user %> dice: <%= comentario[i].comment %>  </p>

                    <%}%>
                </article>
        </section>

        
    </body>

</html>