<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

	<body>

		<nav>
			<%- include('partials/navBarLoged')%>
		</nav>
		<section class="primerasection">
				<article class="segundaSectionInicio">
					<h3 class=tituoloLibro>
						<%= libro.titulo %>
					</h3>
					<a href="/productos/detalle/<%= libro.id %> ">
						<img class="imagen" src="/images/products/<%=libro.img%>">
					</a>
					<p>DESCRIPCIÓN : <%= libro.descripcion %> </p>

				</article>
		</section>



		<div class="centrado">
			<%- include('partials/footer')%>
		</div>

	</body>

</html>