<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

	<nav>
		<%- include('partials/navBar')%>
	</nav>
	
	<h2>Todos Los Productos</h2>

	<section class="primerasection" >
            
		<% for(let i=0; i<lista.lista.length; i+=1){ %>
			<article class="segundaSection" >
			<h3 class=tituoloLibro >
				<%= titulo[i].title %>
			</h3>
			<img class="imagen" src="<%= img[i].image %> " alt="">
			<h4>Lanzamiento: <%= lanzamiento[i].upload %>
			</h4>
		</article>
			<%}%>
		<a href="/productos/product-add" class="segundaSection">
			<h3 class="tituololibro"> </h3>
			<img class="imagen" src="<%= imag.image %>" alt="">
		</a>
	</section>
	
	<div class="centrado">
		<%- include('partials/footer')%>
	</div>
	
</body>	
</html>