<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

	<body>

		<nav>
			<%- include('partials/navBar')%>
		</nav>
		<% if(data.id=null){ %>
			<h3 class="noproduct">No pudimos encontrar el producto que buscás.</h3>
			<% } else { %>
				<div class="container products-wrapper">
					<div class="d-flex align-items-center">
						<h2 class="products-title-detail">
							<%= data.name %>
						</h2>
						<h3 class="product-detail-description">Usuario: <a href="/users/profile/<%= data.users.id %>">
								<%=data.users.name %>
									<%=data.users.surname %>
							</a></h3>
						<% if (locals.user){ %>
							<% if (locals.user.id==data.users_id){ %>
								<div class="product-delete">
									<a href="/products/product-edit/<%= data.id %> ">Editar</a>
									<form action="/products/product-delete/<%= data.id %>" method="POST">
										<button type="submit"> <i class="fas fa-trash"></i> </button>
									</form>
								</div>
								<% } %>
									<% } %>
										<% } %>



											<div class="centrado">
												<%- include('partials/footer')%>
											</div>

	</body>

</html>