<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

</html>

<body>
    <nav>
        <%- include('partials/navBarLoged')%>
    </nav>

    <h2>Hola <%=titulo.name%></h2>
<div class="contenedorP">
    <section class="profilePadre">
        
        <article >
            <img class="imgProfile" src="<%= img.profilePhoto%> ">
        </article>
        <article class="profileHijo">
            <h3>Nombre:</h3>
            <h4>
                <%=titulo.name%>
            </h4>
            <h3>Número de teléfono:</h3>
            <h4>
                <%=titulo.phone%>
            </h4>
            <h3>Fecha de Nacimiento:</h3>
            <h4>
                <%=titulo.age%>
            </h4>
           
        </article>
    </section>
</Div>
</body>
<div class="centrado">
    <%- include('partials/footer')%>
 </div>

</html>