// mostrar los datos del usuario
// copiar el header con partials
// copiar el head-ok
//

<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

    <body>
       //poner un html con datos de manera dinamica, invocarlos
       <h1>Editar Perfil</h1>
       <img src="/products/img-profile.jpg">
       <h3>Nombre:</h3>
       <h4><%=titulo.name%></h4>
       <h3>Número de teléfono:</h3>
       <h4><%=titulo.phone%></h4>
       <h3>Edad:</h3>
       <h4><%=titulo.age%></h4>
       <h3>Correo electrónico:</h3>
       <h4><%=titulo.email%></h4>
       <h3>Contraseña:</h3>
       <h4><%=titulo.password%></h4>
       <h3>DNI:</h3>
       <h4><%=titulo.idNumber%></h4>
    </body>


</html>