<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

</html>

<body>
    <nav>
        <%- include('partials/navBarLoged')%>
    </nav>

    <h2>Hola <%= usuario.nombre%></h2>
<div class="contenedorP">
    <section class="profilePadre">
        
      
        <article class="profileHijo">
            <h3>Nombre:</h3>
            <h4>
                <%= usuario.nombre %>
            </h4>
            <h3>DOCUMENTO:</h3>
            <h4>
                <%= usuario.ducumento %>
            </h4>
            <h3>Fecha de Nacimiento:</h3>
            <h4>
                
            </h4>
           
        </article>
    </section>
</Div>
</body>
<div class="centrado">
    <%- include('partials/footer')%>
 </div>

</html>