<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

</html>

<body>
    <nav>
        <%- include('partials/navBarLoged')%>
    </nav>

    <h2>Hola <%= usuario.nombre%></h2>
<div class="contenedorP">
    <section class="profilePadre">
        
        <article >
            <img class="imgProfile" src="/images/users/<%= usuario.img %> ">
        </article>
        <article class="profileHijo">
            <h3>Nombre: <%= usuario.nombre %> </h3>
            <h3>DOCUMENTO:  <%= usuario.documento %> </h3>
            <h3>Fecha de Nacimiento: <%=usuario.email %> </h3>
            <h4>
                
            </h4>
           
        </article>
    </section>
</Div>
</body>
<div class="centrado">
    <%- include('partials/footer')%>
 </div>

</html>