<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <nav>
            <%- include('partials/navBarLoged')%>
        </nav>

        <h2>Resultados de busqueda</h2>
        <% if (locals.errors) { %>
            <h3>
                <%= errors.message %>
            </h3>
            <% }else { %>
                <section class="primerasection"></section>
                <% for (let i=0 ; i < libro.length; i++ ) { %>
                    <article class="segundaSectionInicio">
                        <h3 class=tituoloLibro  ><%= libro[i].titulo %> </h3>
                        <a href="/productos/detalle/<%= libro[i].id %> " >
                            <img class="imagen"  src="/images/products/<%=libro[i].img%>">
                        </a>
                        
                    </article>
                    <% } %>
                        </section>
                        <% } %>







                            <div class="centrado">
                                <%- include('partials/footer')%>
                            </div>
    </body>

</html>